CSIS-4311/Assignment2/Assignment2/InstructorSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://tempuri.org/instructor"
           targetNamespace="http://www.nova.edu/instructor"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="firstname"/>
        <xs:element type="xs:string" name="lastname"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="notes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>